@model CardioCarta.Models.PatientMedicine

@{
    ViewBag.Title = "Usuń";
}

<h2>Usuń</h2>

<h3>Jesteś pewny, że chcesz usunąć ten wpis?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.MgDose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MgDose)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medicine.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medicine.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TakingMedicineTime.TakingTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TakingMedicineTime.TakingTime)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Powrót do listy", "Index")
        </div>
    }
</div>
