@model CardioCarta.Models.PatientMedicine

@{
    ViewBag.Title = "Szczegóły leku";
}

<h2>Szczegóły leku</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MgDose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MgDose)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medicine.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medicine.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TakingMedicineTime.TakingTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TakingMedicineTime.TakingTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { userId = Model.Patient_AspNetUsers_Id, name = Model.Medicine_Name, time = Model.TakingTime }) |
    @Html.ActionLink("Powrót do listy", "Index")
</p>
