@model IEnumerable<CardioCarta.Models.PatientMedicine>

@{
    ViewBag.Title = "Leki";
}

<h2>Leki</h2>

@if (User.IsInRole("Patient"))
{
    <p>
        @Html.ActionLink("Dodaj lek", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MgDose)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Medicine.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TakingMedicineTime.TakingTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MgDose)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Medicine.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TakingMedicineTime.TakingTime)
        </td>
        @if (User.IsInRole("Patient"))
        {
            <td>
                @Html.ActionLink("Edytuj", "Edit", new { userId = item.Patient_AspNetUsers_Id, name = item.Medicine_Name, time = item.TakingTime }) |
                @Html.ActionLink("Szczegóły", "Details", new { userId = item.Patient_AspNetUsers_Id, name = item.Medicine_Name, time = item.TakingTime }) |
                @Html.ActionLink("Usuń", "Delete", new { userId = item.Patient_AspNetUsers_Id, name = item.Medicine_Name, time = item.TakingTime })
            </td>
        }
    </tr>
}

</table>
