@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        @if (User.IsInRole("Patient"))
        {
            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                    Dzienniczki
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        @Html.ActionLink("Wypełnione dzienniczki", "Index", "Diaries")
                    </li>
                    <li>
                        @Html.ActionLink("Wypełń dzienniczek", "Create", "Diaries")
                    </li>
                </ul>
            </li>

            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                    Leki
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        @Html.ActionLink("Leki na dziś", "Index", "TakenMedicines")
                    </li>
                    <li>
                        @Html.ActionLink("Lista leków", "Index", "PatientMedicines")
                    </li>
                    <li>
                        @Html.ActionLink("Dodaj lek", "Create", "PatientMedicines")
                    </li>
                </ul>
            </li>
            
            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                    Lekarze
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        @Html.ActionLink("Twoi lekarze", "DoctorIndex", "Patients")
                    </li>
                    <li>
                        @Html.ActionLink("Dodaj lekarza", "AddDoctor", "Patients")
                    </li>
                </ul>
            </li>

            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                    Choroby
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        @Html.ActionLink("Twoje schorzenia", "DiseaseIndex", "Patients")
                    </li>
                    <li>
                        @Html.ActionLink("Dodaj schorzenie", "AddDisease", "Patients")
                    </li>
                </ul>
            </li>

            <li>
                @Html.ActionLink("Mapa", "Index", "Map")
            </li>

            <li>
                @Html.ActionLink("Ostrzeżenia", "Index", "Warning")
            </li>
        }
        @if (User.IsInRole("Doctor"))
        {
            <li>
                @Html.ActionLink("Twoi pacjenci", "Index", "Patients")
            </li>

            <li>
                @Html.ActionLink("Mapa", "Index", "Map")
            </li>
        }
        <li>
            @Html.ActionLink("Cześć " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register Patient", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Register Doctor", "RegisterDoctor", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
