@model CardioCarta.Models.Diary

@{
    ViewBag.Title = "Szczegóły";
}

<h2>Szczegóły</h2>

<div>
    <h4>Dzienniczek</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Mood)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mood)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SystolicPressure)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SystolicPressure)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiastolicPressure)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiastolicPressure)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RespirationProblem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RespirationProblem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Haemorrhage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Haemorrhage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dizziness)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dizziness)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChestPain)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChestPain)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SternumPain)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SternumPain)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HeartPain)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HeartPain)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alcohol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alcohol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Coffee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Coffee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Other)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Other)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Powrót do listy", "Index")
</p>
