@model IEnumerable<CardioCarta.Models.Disease>

@{
    ViewBag.Title = "Schorzenia";
}

<h2>Schorzenia</h2>

@if (User.IsInRole("Patient"))
{
    <p>
        @Html.ActionLink("Dodaj chorobę", "AddDisease")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
    </tr>

@foreach (var item in Model)
{
    if (User.IsInRole("Patient"))
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Usuń", "DeleteDisease", new { name = item.Name })
        </td>
    </tr>
    }
    else
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
    }
}

</table>
