@model IEnumerable<CardioCarta.Models.TakenMedicine>

@{
    ViewBag.Title = "Leki na dziś";
}

<h2>Leki na dziś</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Taken)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PatientMedicine.Medicine_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PatientMedicine.MgDose)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PatientMedicine.TakingTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Taken)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PatientMedicine.Medicine_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PatientMedicine.MgDose)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PatientMedicine.TakingTime)
        </td>
        <td>
            @Html.ActionLink("Zmień status", "Take", new { patientMedicineID = item.PatientMedicine_Id, day = item.Day, })
        </td>
    </tr>
}

</table>
